.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  padding: 12px;

}

.content {
  display: inline-block;
  position: relative;
  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: var(--border-radius-s);
}

.option {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.divider {
  border: 1px solid grey;
}
