.content {
  position: absolute;
  top: 50px;
  transform: translate(-65%, -6%);
  z-index: 100;
  display: inline-block;
  padding: 12px;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 6px;
}
.triangle {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10%;
  top: -20px;
  border: 10px solid transparent; /* Прозрачные границы */
  border-bottom: 10px solid var(--color-dark-500);
  background-color: var(--color-dark-700);
}
.triangleBackground {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10%;
  top: -19px;
  border: 10px solid transparent; /* Прозрачные границы */
  border-bottom: 10px solid var(--color-dark-700);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: auto;
}

.optionWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  justify-content: center;
}

.option {
  display: flex;
  gap: 8px;
  align-items: center;
}

.optionWrapper:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: grey;
}




