/* Скрываем оригинальный чекбокс */
.customCheckbox input[type='checkbox'] {
  display: none;

}

/* Создаем стилизованный вид для кастомного чекбокса */
.customCheckbox {
  cursor: pointer;

  position: relative;

  display: inline-block;

  width: 24px; /* Задайте желаемый размер */
  height: 24px;
  
}

/* Создаем отображение для изображения чекбокса, когда он отмечен */
.customCheckbox .checkboxImage {
  display: inline-block;

  width: 100%;
  height: 100%;

  background-image: url('/public/checked.svg'); /* Путь к изображению checked */
  background-size: cover; /* Размер изображения */

  /* Дополнительные стили по желанию */
}

/* Создаем отображение для изображения чекбокса, когда он не отмечен */
.customCheckbox input[type='checkbox']:not(:checked) + .checkboxImage {
  background-image: url('/public/notChecked.svg'); /* Путь к изображению notChecked */
}

.label {
  position: absolute;
  left: 28px;
  white-space: nowrap;
}
