.container{
  display: flex;
  flex-direction: column;

}
.backDiv {
  color: var(--light-100, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 90px;
  left: 158px;
  column-gap: 10px;

}

.namePack {
  color: var(--light-100, #FFF);

  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;


}

.text {
  color: var(--dark-100, #808080);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.button {
  display: inline-flex;
  padding: 6px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--primary-500, #8C61FF);
  box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
}

//height: calc(100vh - 56px);
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    position: relative;