.block {
  display: flex;
  flex-direction: column;

  width: 26.5rem;
  height: auto;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem 0;

  .title {
    margin-bottom: 1.69rem;
    text-align: center;
  }

  .avatarBlock {
    display: flex;
    justify-content: center;

    .avatar {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 6rem;
      height: 6rem;
      margin-bottom: 0.75rem;

      font-size: calc(6rem * 0.8);

      .avatarEdit {
        cursor: pointer;

        position: absolute;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 1.5rem;
        height: 1.5rem;

        background-color: var(--color-dark-300);
        border-radius: 0.25rem;
        box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
      }
    }
  }

  .editNickName {
    margin-bottom: 2.25rem;
  }

  .submit {
    margin-bottom: 5.25rem;
    padding: 0.375rem 0;
  }

  .infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nameBlock {
      display: flex;
      align-items: center;

      .name {
        margin-right: 0.56rem;
      }

      .changeName {
        cursor: pointer;
      }
    }

    .email {
      margin-bottom: 0.81rem;
      color: var(--color-dark-100);
    }

    .logout {
      margin-bottom: 2.56rem;
    }
  }
}
