.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  justify-content: center;

  margin-top: 36px;
  padding: 33px 36px;

}

.title {
  display: flex;
  justify-content: center;

  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px; /* 138.462% */
  color: var(--light-100, #FFF);
}

.inputAndCheckbox {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.forgot {
  display: flex;
  justify-content: space-between;
  padding: 0 0 86px;
}

.forgotText {
  display: flex;
  cursor: pointer;

}

.account {
  display: flex;
  flex-direction: column;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px; /* 171.429% */
  color: var(--light-900, #C3C1C7);
  text-align: center;
}

.accountLink {
  display: flex;
  flex-direction: column;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px; /* 150% */
  color: var(--primary-500, #8C61FF);
  text-decoration-line: underline;
}

.button {
  width: 348px;
  height: 36px;
}