.container {
  padding: 81px 137.5px;
  position: relative;
}

.backDiv {
  color: var(--light-100, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 24px;
}


.namePack {
  color: var(--light-100, #FFF);
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  top: 150px;

}

.text {
  color: var(--dark-100, #808080);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 0 0 30px 0;
  text-align: center;
}

.button {
  display: flex;
  align-self: center;
  justify-content: center;

}

//
////height: calc(100vh - 56px);
////    display: flex;
////    align-items: center;
////    justify-content: center;
////    position: relative;