.titleWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nameForPack {
  color: var(--light-100, #FFF);
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */

}
.content{
  display: flex;
  gap: 40px;
  align-items: center;
}