.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}
.linkWithoutUnderline{
  text-decoration: none;
}
.modal {
  width: 420px;
  height: 540px;
  border-radius: 3px;
  border: 1px solid #a0a0a0;
  background-color: #171717;
  color: #FFFFFF;
}

.packDiv {
  color: var(--light-100, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  top: 70px;
  left: 120px;
  column-gap: 10px;
  padding-bottom: 25px;
  position: fixed;

}

h2 {
  padding: 12px 24px 18px 24px;
  font-family: Roboto;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.rate {
  padding-left: 48px;
}


.checkbox {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  color: #FFFFFF;
}

.body {
  margin: 20px 0 20px 0;
}

.text {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0 0 0 50px;

}

.answer {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0 0 0 50px;
  color: grey;
  font-size: 14px;
  padding-bottom: 35px;
}

.radio {
  padding-left: 48px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  padding: 20px;

}

.bts {
  width: 348px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;

}

.radioOut {
  width: 20px;
  height: 20px;
  border: 2px solid #8C61FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.radioIn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.radioColor {
  background-color: #8C61FF;
}