.forgot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  justify-content: center;

  padding: 33px 36px;

}

.icon {
  display: flex;
  justify-content: center;
}

.account {
  width: 348px;
  margin: 19px 0 65px;

  /* Body 2 */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px; /* 171.429% */
  color: var(--light-900, #C3C1C7);
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;

  padding: 0 0 27px;

  /* Large */
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px; /* 138.462% */
  color: var(--light-100, #FFF);
}

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 348px;
  margin: 0 0 10px;
  padding: 6px 28px;

  background: var(--primary-500, #8C61FF);
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
}