.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 137.5px;
  background-color: var(--color-dark-700);
  img {
    cursor: pointer;
  }
}
.headerBlock {
  display: flex;
  height: 3.75rem;
  background: var(--color-dark-700);
  padding: 10px 137.5px;

  .contentHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 80rem;
    margin: 0 auto;

    .logo {
      padding: 0;

      &:focus,
      &:active,
      &:hover {
        outline: none;
      }

      & svg {
        width: 9.75rem;
        height: 2.25rem;
      }
    }

    .avatar_menu {
      display: flex;
      gap: 0.88rem;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      .menu_name {
        cursor: pointer;
      }

      & svg {
        width: 2.25rem;
      }
    }
  }
}

.buttonDrop {
  padding: 0;
  color: var(--color-light-100);

  &:focus,
  &:active,
  &:hover {
    color: var(--color-light-100);
    outline: none;
  }
}

