.forgot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  justify-content: center;

  padding: 33px 36px;

}

.title {
  display: flex;
  justify-content: center;

  padding: 0 0 45px;

  /* Large */
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px; /* 138.462% */
  color: var(--light-100, #FFF);
}

.inputPassword {
  width: 348px;
  height: 60px;

}

.account {
  width: 348px;
  padding: 19px 0 41px;

  /* Body 2 */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px; /* 171.429% */
  color: var(--light-900, #C3C1C7);
}

.button{
  margin: 0 0 20px;

  /* Subtitle 2 */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px; /* 171.429% */
  color: var(--light-100, #FFF);
}